extends layout
block variables
- var HOMEPAGE = false;

block content
  h1= About
  h1 Welcome to #{title}
  p 
   | About ternary and just some random thoughts on it
  p 
   | In phase 0 I asked my husband to help me with javascript and to build on my learning going from easy to harder javascript.  When I wrote a ternary operator to solve a problem he was adamant that ternary wasn't easy code.
  p
   | <a href='https://en.wikipedia.org/wiki/%3F:'>Many programming languages use the ternary operator.</a>
 