extends layout
block variables
 

block content
  h1= About
  p Welcome to #{title}
  p 
   | An American lost in the wilds of New Zealand
  p 
   | While attending the Dev Academy in Wellington, New Zealand - I discovered the beauty of the ternary operator code.  Yes, the only code I got right in many of the challenges I tried to complete in FCC, CodeAcademy and many others.  It was a beautiful thing.
 