extends layout
block variables
 

block content
  h1= Blog
  h1 Welcome to the Ternary #{title} 
    form(name="addBlog", method="post")
        div.input
            input(type="text", name="title")
        div.input
            textarea(name="words", cols="40", rows="5")
        div.actions
            input(type="submit", value="Add")
  
        
                    