extends layout
block variables
 

block content
  h1= Blog
  p Welcome to #{title}
  p 
   | Blog away
  p 
   | Dream a little ternary today - wish to add button to this viewing of blogs so a person can sign in or register and include blogging of ternary to their hearts desire.
