extends layout
block variables
 

block content
  h1= Happiness
  h1 Welcome to #{title}
  p 
   | Happy
  p 
   | all things happy - maybe a happiness scale for people to put in how they feel about ternary.  Like stars they can click to show their inner happines about ternary or a sliding scale about how much they love - then that can show a graph about how much they love ternary and maybe then they can tweet their happiness about ternary on their twitter page.  Or show on some other social media their delight all things ternary.   Another thought is for search engines that will only let you search the word ternary - like in google maps, twitter feed, facebook search and so on.
   .panel.panel-success
      .panel-heading
        h3.panel-title Why so happy?
      .panel-body
        p
         | Why not be happy about ternary - it's beautiful code