- var HOMEPAGE = false;
block variables
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/bootstrap.min.js')
  body
    include ./include/navbar.jade
    if HOMEPAGE
     include ./include/showcase.jade
    .container
     block content
      
      hr
      footer
        p © Company 2014
    // /container

