extends layout
block variables
 

block content
  h1= Blog
  h1 Welcome to the Ternary #{title} 
  p 
   | Dream a little ternary today - wish to add button to this viewing of blogs so a person can sign in or register and include blogging of ternary to their hearts desire.
  h2 Enter Blog
  form(method='post', action='/')
  div
  form(action='/signup',method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='email') email
           input(id='email',type='text',value='',placeholder='@',name='email')
    div#passworddiv(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='password') password
           input(id='password',type='password',value='',placeholder='',name='password')
    div(data-role='fieldcontain')
      fieldset(data-type='vertical', data-role='controlgroup')
    div(data-role='fieldcontain')   
      input(type='submit',value='Register',data-transition='fade', data-theme='c')
    div(data-role='fieldcontain')   
      input(type='submit',value='Login',data-transition='fade', data-theme='c')
    div(data-role='fieldcontain')   
      input(type='submit',value='View Blog',data-transition='fade', data-theme='c')
