extends layout
block variables
 

block content
  h1= Study
  p Welcome to #{title}
  p 
   | Study on all things ternary
  p 
   | glorious ternary
  h4 Links to other like minded Ternary Loving People
  p
   | <a href='https://guptashubham.wordpress.com/'>Beautiful Code by guptashubham</a>
  p
   | <a href='http://karthikv.net/blog/javascript-ternary-operator'>Karthikv</a>
  p
   | <a href='https://echo.co/blog/short-circuit-evaluation-javascript-or-ternary-operator-binary'>Paul Venuti</a>
  p
   | <a href='http://blog.stchur.com/2006/07/14/the-javascript-ternary-operator/'>I does Javascript!</a>
  p
   | <a href='https://www.smashingmagazine.com/2010/04/seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career/'>Smashing Magazine</a>
  p
   | <a href='http://blog.wax-o.com/2015/05/an-alternative-to-if-else-and-switch-in-javascript/'>Fabien Huet</a>

  h4
   | Learn more about Ternary from these websites:
  p
   | <a href='https://msdn.microsoft.com/en-us/library/be21c7hw(VS.94).aspx'>Microsoft</a>
  p
   | <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator'>Mozilla Developer Network</a>
  p
   | <a href='https://en.wikipedia.org/wiki/Ternary_operation'>Wikipedia</a>