extends layout
block variables
 - HOMEPAGE = true;

block content
  h1= Ternary
  p Welcome to #{title}
  p 
   | Conversation with a husband
  p 
   | In phase 0 I asked my husband to help me with javascript and to build on my learning going from easy to harder javascript.  When I wrote a ternary operator to solve a problem he was adamant that ternary wasn't easy code.
  p
   | Eventually I want the button Ternary Me to select random ternary operator code