extends layout
block variables
 - HOMEPAGE = false;

block content
  h1= Ternary
  h1 Welcome to #{title}
  p 
   | Conversation with a husband
  p 
   | 
  p
   | Eventually I want the button Ternary Me to select random ternary operator code examples and display below the images - maybe display in a a box with a button to push for random examples


