.jumbotron
      .container
       .row
        .col-md-7
         h1 Ternary
         p
           | Beautiful Code
         p
           a.btn.btn-primary.btn-lg(href='/ternary', role='button') Ternary - Images to drool over »
        .col-md-5
         img(src='images/ternary.jpg')