.jumbotron
      .container
       .row
        .col-md-7
         h1 Ternary Operator
         p
           | Beautiful Code
         p
           a.btn.btn-primary.btn-lg(href='/ternary', role='button') Ternary - Images to drool over »
         p
           a.btn.btn-success(href='/signIn', role='button') Sign-up or Login »
        .col-md-4
        .col-md-5
         img(src='images/ternary.jpg')